<div class="container">
  <div class="header">Find what you need</div>
  <form action="">
    <div>By title:</div>
    <input name="publisher_name" id="searchName" #searchName (keyup)="0"  type="text" size="40" placeholder="Publisher name..." />
  </form>
  <div id="results" *ngFor="let publisher of (pagedPublishers | search: searchName.value)">
    <mat-card>
      <mat-card-title >
        <span>{{publisher.publisher_name}}</span>
      </mat-card-title>
      <mat-card-content>
        <div>{{publisher.address}}</div>
        <a href="admin/publishers/{{publisher.publisher_id}}/edit" routerLinkActive="active"><span><i class="fa fa-pencil"></i>&nbsp; Edit</span></a>
        <a (click)="getDeletePublisher(publisher.publisher_id)" routerLinkActive="active"><span><i class="fa fa-trash"></i>&nbsp; Delete</span></a>
      </mat-card-content>
    </mat-card>
  </div>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>

