<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('books')">
                <span><i class="fa fa-book"></i>&nbsp; {{ 'Books' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'books'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['books/add']" [routerLinkActive]="['router-link-active']"><span>{{ 'Add new' }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['books']" [routerLinkActive]="['router-link-active']"><span>{{ 'Edit or delete' }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('news')">
                <span><i class="fa fa-archive"></i>&nbsp; {{ 'News' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'news'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['news/add']" [routerLinkActive]="['router-link-active']"><span>{{ 'Add new' }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['news']" [routerLinkActive]="['router-link-active']"><span>{{ 'Edit or delete' }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['orders']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-shopping-cart"></i>&nbsp;{{ 'Orders' }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('publishers')">
                <span><i class="fa fa-address-card"></i>&nbsp; {{ 'Publishers' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'publishers'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['publishers/add']" [routerLinkActive]="['router-link-active']"><span>{{ 'Add new' }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['publishers']" [routerLinkActive]="['router-link-active']"><span>{{ 'Edit or delete' }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('authors')">
                <span><i class="fa fa-address-book"></i>&nbsp; {{ 'Authors' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'authors'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['authors/add']" [routerLinkActive]="['router-link-active']"><span>{{ 'Add new' }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['authors']" [routerLinkActive]="['router-link-active']"><span>{{ 'Edit or delete' }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
</nav>
