<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('books')">
                <span><i class="fa fa-book"></i>&nbsp; {{ 'Books' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'books'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['books/add']" [routerLinkActive]="['router-link-active']"><span>{{ 'Add new' }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['books']" [routerLinkActive]="['router-link-active']"><span>{{ 'Edit or delete' }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('news')">
                <span><i class="fa fa-archive"></i>&nbsp; {{ 'News' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'news'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['news/add']" [routerLinkActive]="['router-link-active']"><span>{{ 'Add new' }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['news']" [routerLinkActive]="['router-link-active']"><span>{{ 'Edit or delete' }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['orders']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-shopping-cart"></i>&nbsp;{{ 'Orders' }}
        </a>
        <a routerLink="comments" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-comment-o"></i>&nbsp;{{ 'Comments' }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('menu')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'menu'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
</nav>
