<div class="cart">
  <h3>Your shopping list...</h3>
  <div class="product" *ngFor="let item of products">
    <div class="row">
      <div class="description">
        <p>{{item.quantity}} x {{item.product.title}}</p>
      </div>
      <div class="price">
        <p>{{item.quantity*item.product.parsedPrice | currency:'USD':'symbol':'1.0-0' }}</p>
      </div>
    </div>
    <button class="delete" (click)="deleteProduct(item.product)"><span>X</span></button>
  </div>
    <button *ngIf="numProducts" class="pay" (click)="openModal(template)">Purchase {{cartTotal | currency:'USD':'symbol':'1.0-0'}}</button>
  <div id="success_message" style="display:none">Your charge was successful!</div>
  <div id="failure_message" style="display:none">Your charge was not complited!</div>
  <ng-template #template>
    <div class="modal-body text-center">
      <form (ngSubmit)="openCheckout(products, orderForm.value)" #orderForm="ngForm">
        <div class="form-group">
          <input class="form-control" type="hidden" ngModel name="user_id" value="{{user_id}}">
        </div>
        <div class="form-group">
          <label>*First Name:</label>
          <input class="form-control" ngModel id="firstName" name="firstName" #firstName="ngModel" required minlength="3" maxlength="10" type="text" placeholder="">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
               class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
              First name is required.
            </div>
            <div *ngIf="firstName.errors.minlength">
              First name must be at least 3 characters long.
            </div>
            <div *ngIf="firstName.errors.maxlength">
              First name be not more than 10 characters.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>*Second Name:</label>
          <input class="form-control" ngModel id="secondName" name="secondName" #secondName="ngModel" required minlength="3" maxlength="10" type="text" placeholder="">
        </div>
        <div *ngIf="secondName.invalid && (secondName.dirty || secondName.touched)"
             class="alert alert-danger">
          <div *ngIf="secondName.errors.required">
            Second name is required.
          </div>
          <div *ngIf="secondName.errors.minlength">
            Second name must be at least 3 characters long.
          </div>
          <div *ngIf="secondName.errors.maxlength">
            Second name must be not more than 10 characters.
          </div>
        </div>
        <div class="form-group">
          <label>*Phone number:</label>
          <input class="form-control" ngModel id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" required minlength="10" type="text" placeholder="">
        </div>
        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
             class="alert alert-danger">
          <div *ngIf="phoneNumber.errors.required">
            Phone number is required.
          </div>
          <div *ngIf="phoneNumber.errors.minlength">
            Phone number must be at least 10 characters long.
          </div>
        </div>
        <div class="form-group">
          <label>Address:</label>
          <input class="form-control" type="text" placeholder="" id="address" name="address" ngModel value="">
        </div>
        <div class="form-group">
          <label>City:</label>
          <input class="form-control" type="text" placeholder="" id="city" name="city" ngModel value="">
        </div>
        <div class="form-group">
          <label>Postal/Zip code:</label>
          <input class="form-control" type="text" placeholder="" id="postalCode" name="postalCode" ngModel value="">
        </div>
        <div class="form-group">
          <label>Country:</label>
          <input class="form-control" type="text" placeholder="" id="country" name="country" ngModel value="">
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!orderForm.valid">Next</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >Back</button>
      </form>
    </div>
  </ng-template>
</div>