<div class="footer-container">
  <div class="footer">
        <div class="top-address">
          <a class="header-email">admin@archive.biz.ua</a>
          <!--<a class="location" href="#" title="График работы и карта проезда"><i class="icon icon-location"></i>Schedule and map</a>-->
          <!--<a class="callback" href="#" title="Заказать обратный звонок"><i class="icon icon-phone"></i>Order back call</a>-->
        </div>
        <div class="top-phones">
          <ul>
            <li>(044) 111 11 11</li>
            <li>(066) 111 11 11</li>
          </ul>
      </div>
  </div>
</div>