<div class="about">
  <h2>About us</h2>
  <div>
    Our company is a comprehensive online bookstore for both books
    and other products of every point of knowledge. Our philosophy
    is based on information, communication and education, which we
    feel should be balanced out with a daily dose of knowledge,
    wisdom, understanding (overstanding, and innerstanding).
  </div>
  <div>
    Our website features books from every literary genre, allowing
    us to appeal to any particular taste a customer may have. Can't
    find what you're looking for? We can order the book for you.
  </div>
  <div>
    Our experienced staff can assist you in selecting the right
    literature and will be glad to go that extra mile for you!
  </div>
  <h2>Contact info</h2>
  <div>Archive Online Bookstore</div>
  <div>Phone: +38 (044) 111 11 11</div>
  <div>Mobile phone: +38 (066) 111 11 11</div>
  <div>Email: admin@archive.biz.ua</div>
</div>
