<div class="container">
  <div class="header">Find what you need</div>
  <form action="">
    <div>By title:</div>
    <input name="title" id="searchTitle" #searchTitle (keyup)="0"  type="text" size="40" placeholder="Book title..." />
  </form>
    <div id="results" *ngFor="let book of (pagedBooks | search: searchTitle.value)">
      <mat-card>
        <a href="books/{{book.category_name}}/{{book.genre_name}}/{{book.book_id}}" routerLinkActive="active"><img mat-card-image [alt]="book.title" name="{{book.title}}" src="http://www.back-archive.biz.ua/public/{{book.image}}"></a>
        <mat-card-title >
          <a href="books/{{book.category_name}}/{{book.genre_name}}/{{book.book_id}}" routerLinkActive="active">{{book.title}}</a>
        </mat-card-title>
        <mat-card-content>
          <div>{{book.price}} $</div>
            <a href="admin/books/{{book.book_id}}/edit" routerLinkActive="active"><span><i class="fa fa-pencil"></i>&nbsp; Edit</span></a>
            <span (click)="getDeleteBook(book.book_id)" routerLinkActive="active"><i class="fa fa-trash"></i>&nbsp; Delete</span>
        </mat-card-content>
      </mat-card>
    </div>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>

