.news-title {
    text-align: center;
}

.news-card {
    width: 1000px;
    margin: 0 auto;
    background-color: #E8E8E8;
}

mat-card {
    width: 400px;
    height: 350px;
    margin: 20px auto 10px auto;
    background-color: #E8E8E8;
}
