<div class="news-card">
  <h3 class="news-title">All news</h3>
  <mat-card *ngFor="let item of pagedNews">
    <a href="news/{{item.id}}" routerLinkActive="active"><img mat-card-image [alt]="item.title" name="{{item.title}}" onError="this.src='http://www.back-archive.biz.ua/public/images/news_images/default-article.jpg'" src="http://www.back-archive.biz.ua/public/{{item.image}}"></a>
    <mat-card-footer>
      <h3 mat-line>{{item.title}}</h3>
    </mat-card-footer>
  </mat-card>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>