.news-title {
    text-align: center;
}

.news-card {
    width: 1000px;
    margin: 0 auto;
    background-color: #E8E8E8;
}

mat-card {
    width: 450px;
    height: 450px;
    margin: 20px auto 10px auto;
    background-color: #E8E8E8;
}

mat-card h3 {
    margin-left: 10px;
}

form input[type="text"] {
    background: url(../../../../assets/images/icons/search-dark.png) no-repeat 10px 6px #222222;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #999;
    width: 200px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

form input[type="text"]:focus {
    width: 300px;
}

mat-card a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

div.container {
    display: flex;
    flex-direction: column;
}
div.header {
    margin: 0 auto;
    width: 600px;
    font-size: 24px;
    text-align: center;
}

form.form {
    width: 1000px;
    margin: 20px auto;
}

form.form div {
    font-size: 20px;
}