<div class="orders">
  <table class="orders-table">
    <thead>
    <tr>
      <th>Order id</th>
      <th>Order date</th>
      <th>Total price</th>
      <th>Customer Email</th>
      <th>First name</th>
      <th>Second name</th>
      <th>Phone number</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of orders" class="order-tr">
      <td>{{item.order_id}}</td>
      <td>{{item.order_date}}</td>
      <td>{{item.total_price}}</td>
      <td>{{item.customer_email}}</td>
      <td>{{item.customer_first_name}}</td>
      <td>{{item.customer_second_name}}</td>
      <td>{{item.phone_number}}</td>
    </tr>
    </tbody>
  </table>
</div>