<div class="delivery">
  <h2>Shipping Information</h2>
  <div>Whether your order is for one book or  one hundred, whether you live in the Ukraine
    or overseas, we deliver directly to your home, or work-place at no charge.</div>
  <div>Delivery times vary from region to region and, within that, from country to country.
    Our average Standard delivery times are as follows:</div>
  <br>
  <br>
  <table class="greyGridTable">
    <tbody>
    <tr>
      <td>Europe</td>
      <td>5-7 days</td>
    </tr>
    <tr>
      <td>Africa & the Middle East</td>
      <td>10-14 days</td>
    </tr>
    <tr>
      <td>Asia-Pacific</td>
      <td>14-21 days</td>
    </tr>
    <tr>
      <td>Latin America & the Caribbean</td>
      <td>14-21 days</td>
    </tr>
    <tr>
      <td>North America</td>
      <td>Not a region serviced by Archive Bookstore</td>
    </tr>
    </tbody>
  </table>
  <h3>Expedited Shipping</h3>
  <div>For customers wishing to receive orders by priority dispatch,
    an expedited service is available. Here again, we are able to ship
    to all parts of the world*. Once In our Shopping Cart a shipping
    cost is  automatically calculated based on the total weight of the
    products(s) ordered. For your convenience and peace of mind the total
    cost of dispatch is displayed at the checkout before you confirm your order.</div>
  <div>
    Please note, that expedited delivery times vary from region to region and,
    within that, from country to country. Once your order has been dispatched
    we will contact you within email.
  </div>
  <h3>
    Import Taxes/Custom Duties
  </h3>
  <div>
    Orders dispatched to countries outside the UK may be subject to import taxes,
    customs duties and fees levied by the destination country. Customs policies
    vary widely from country to country and you are advised to contact your local
    Customs and Excise office for further information. The recipient may be subject
    to such import taxes, customs duties and fees, which are, typically, charged once
    a shipment reaches the destination country, to include additional customs
    clearance charges. Eurospan has no control over import taxes and/or custom duties
    and can neither predict what they may be, nor be liable for them if they are levied.
  </div>
</div>
