<div class="profile-container">
  <h2>Your profile:</h2>
  <div class="user-data" *ngFor="let item of user">
    <label for="name">Name:</label>
    <div id="name">{{item.name}}</div>
    <label for="email">Email:</label>
    <div id="email">{{item.email}}</div>
    <ul class="links">
      <li><a href="user/profile/edit/{{item.user_id}}" routerLinkActive="active" title="Profile edit" class="top-link">Change users data</a></li>
      <li><a href="user/profile/comments/{{item.user_id}}" routerLinkActive="active" title="Comments" class="top-link">Check comments</a></li>
      <li><a href="user/profile/orders/{{item.user_id}}" routerLinkActive="active" title="Orders" class="top-link">Check orders</a></li>
    </ul>
  </div>
</div>